* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat',Verdana, Geneva, Tahoma, sans-serif;
  /* max-width: 1280px; */
  width: auto;
  /* margin: 0 auto; */
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #9c9c9c;
  background-image: url('files/bgblack.png');
}
/* Estilo para los elementos con ID */
#menu, #mnavbar, #lnavbar {
  position: fixed;
  top: 0;
  left: 0;
}

.light-blue-grey{
  background-color: #c7e3fd;
}
.light-blue-white{
  background-color: #edf6ff;
}

header {
  height: 40px;
  background-color: rgb(0, 255, 21);
  position: relative;
  top: 0px;
  width: 100%;
}

.s-menu {
  height: 30px;
  background-color: #070927;
  position: relative;
  top: 0px;
  width: 100%;
}

.main {
  background-color: white;
  margin: 0 auto;
  max-width: 1280px;
  height: 60px;
}

.darkbutton {
  background-color: #070927;
  color: white;
  /* text-transform: uppercase; */
}

.slide-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #060E63;
  opacity: 0.6;
}

.about-tittle{
  color: black;
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight:bolder;
  font-size: 2.2rem;
  text-align: left;
  letter-spacing: -0.015em;
  overflow-wrap: break-word;
  padding-top: 30px;
  padding-bottom: 5px;
}

.about-description{
  color: black;
  font-family: 'Montserrat',Verdana, Geneva, Tahoma, sans-serif;;
  font-weight:400;
  font-size: large;
  text-align: left;
  overflow-wrap: break-word;
  padding-top: 5px;
  padding-bottom: 30px;
}

.outer-container {
  display: flex;
  align-items: center; /* Centra verticalmente */
  height: 100%; /* Asegura que el contenedor externo ocupe todo el alto disponible */
  justify-content: center; /* Centra horizontalmente */
}

.sz-logo {
  /* logo_512w 1 */
  height: 32px;
  margin-left: 50px;
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.mySidebar {
  background-color: #070927;
  max-width: 1280px;
  padding-left: 0px;
  font-size: 14px;
  line-height: 20px;
}

.mySidebar a:hover {
  color: black;
  background-color: white;
}

.s-navbar{
  background-color: #070927;
  max-width: 1280px;
  padding-left: 0px;
  position: relative;
  font-size: 12px;
  line-height: 16px;
  /* Calculamos la altura con la fórmula corregida */
  height: 42px;;
  display: block;
}
 
.imagen-fija {
  position: fixed;
  margin-top: 6px;
  top: 0; /* Alinea la imagen en la parte superior */
  left: 0; /* Alinea la imagen en la parte izquierda */
  /*width: 20%; /* Ajusta el ancho de la imagen según tus preferencias */
  z-index: 9999; /* Asegura que la imagen esté por encima de otros elementos */
  height: 59px;
  /* padding-top: calc((100vw * 22 - 5800px) / 520 - 21px); */
}
.imagen-fija-center {
  position: fixed;
  margin-top: 6px;
  top: 0; /* Alinea la imagen en la parte superior */
  left: 59px; /* Alinea la imagen en la parte izquierda */
  /*width: 20%; /* Ajusta el ancho de la imagen según tus preferencias */
  z-index: 9999; /* Asegura que la imagen esté por encima de otros elementos */
  
  height: 59px;
  width: calc(100vw - 59px);
  /* padding-top: calc((100vw * 22 - 5800px) / 520 - 21px); */
}
.imagen-fija-right {
  position: fixed;
  margin-top: 6px;
  top: 0; /* Alinea la imagen en la parte superior */
  right: 0; /* Alinea la imagen en la parte izquierda */
  /*width: 20%; /* Ajusta el ancho de la imagen según tus preferencias */
  z-index: 9999; /* Asegura que la imagen esté por encima de otros elementos */
  height: 59px;
  /* padding-top: calc((100vw * 22 - 5800px) / 520 - 21px); */
  display: none;
}

.m-navbar {
  display: none;
}

.m-navbar a:hover {
  color: black;
  background-color: white;
}

.l-navbar{
  display: none;
}

.z-logo {
  display: none;
}

.grid-container {
  display: grid;
    grid-template-columns: repeat(6, 12vw);
    grid-template-rows: repeat(6, 12vw);
    gap: 0.8vw; /* Espacio entre las celdas */
    justify-content: center; /* Centra horizontalmente el grid */
}
.grid-container-providers {
  display: grid;
    grid-template-columns: repeat(6, 12vw);
    grid-template-rows: repeat(2, 12vw);
    gap: 0.8vw; /* Espacio entre las celdas */
    justify-content: center; /* Centra horizontalmente el grid */
}

.navbar-inside{
  display:none;
}

.grid-item-empty-small{
  display: flex;
}
.grid-item-empty-big{
  display: none;
}
.hide-navbar-bg{
  height: 42px;
}

video.mySlides {
  width: 100%;
  height: 40vmax;
  object-fit: cover; /* Ajuste del contenido del video */
}

img.mySlides {
  position: relative; /* Asegura que el pseudo-elemento se posicione con respecto a la imagen */
  /* display:none; */
  display: inline-block;
  background-size: cover;
  background-position: center;
  object-fit: cover; /* Ajuste del contenido del video */
  width: 100%;
  height: 40vmax;
}

@media screen and (min-width: 800px) {
  video.mySlides {
    width: 100%;
    height: 324px;
    object-fit: cover; /* Ajuste del contenido del video */
  }
  
  img.mySlides {
    position: relative; /* Asegura que el pseudo-elemento se posicione con respecto a la imagen */
    /* display:none; */
    display: inline-block;
    background-size: cover;
    background-position: center;
    object-fit: cover; /* Ajuste del contenido del video */
    width: 100%;
    height: 324px;
  }
  /* Altura con variación lineal en función del ancho de la pantalla.
   Para VW = 1000px, h = 64px, hpqrst = 90px
   Para VW = 800px, h = 42px, hpqrst = 59px
   m = (90 - 59) / (1000 - 800) = 31 / 200
   b = 59 - m * 800 = -65
   h = VW * m + b = (VW * 31 - 13000) / 200
  */
  .imagen-fija {
    position: fixed;
    margin-top: 9px;
    top: 0; /* Alinea la imagen en la parte superior */
    left: 0; /* Alinea la imagen en la parte izquierda */
    /*width: 20%; /* Ajusta el ancho de la imagen según tus preferencias */
    z-index: 9999; /* Asegura que la imagen esté por encima de otros elementos */
    height: calc((100vw * 31 - 13000px) / 200);
    /* padding-top: calc((100vw * 22 - 5800px) / 520 - 21px); */
  }
  .imagen-fija-center {
    position: fixed;
    margin-top: 9px;
    top: 0; /* Alinea la imagen en la parte superior */
    left: calc((100vw * 31 - 13000px) / 201); /* Alinea la imagen en la parte izquierda */
    /*width: 20%; /* Ajusta el ancho de la imagen según tus preferencias */
    z-index: 9999; /* Asegura que la imagen esté por encima de otros elementos */
    
    height: calc((100vw * 31 - 13000px) / 200);
    width: calc(100vw - 2 * calc((100vw * 31 - 13000px) / 199));
    /* padding-top: calc((100vw * 22 - 5800px) / 520 - 21px); */
  }
  .imagen-fija-right {
    position: fixed;
    margin-top: 9px;
    top: 0; /* Alinea la imagen en la parte superior */
    right: 0; /* Alinea la imagen en la parte izquierda */
    /*width: 20%; /* Ajusta el ancho de la imagen según tus preferencias */
    z-index: 9999; /* Asegura que la imagen esté por encima de otros elementos */
    height: calc((100vw * 31 - 13000px) / 200);
    display: flex;
    /* padding-top: calc((100vw * 22 - 5800px) / 520 - 21px); */
  }
  .grid-item-empty-small{
    display: none;
  }
  .grid-item-empty-big{
    display: flex;
  }
  .grid-container {
    display: grid;
      grid-template-columns: repeat(8, 9vw);
      grid-template-rows: repeat(4, 9vw);
      gap: 0.8vw; /* Espacio entre las celdas */
      justify-content: center; /* Centra horizontalmente el grid */
  }
  .grid-container-providers {
    display: grid;
      grid-template-columns: repeat(8, 9vw);
      grid-template-rows: repeat(1, 9vw);
      gap: 0.8vw; /* Espacio entre las celdas */
      justify-content: center; /* Centra horizontalmente el grid */
  }
  /* Altura con variación lineal en función del ancho de la pantalla.
   Para VW = 1000px, h = 64px
   Para VW = 800px, h = 42px
   m = (64 - 42) / (1000 - 800) = 22 / 200
   b = 42 - m * 800 = -58
   h = VW * m + b = (VW * 22 - 5800) / 200
  */
  .m-navbar {
    background-color: #070927;
    max-width: 1280px;
    padding-left: 0px;
    position: relative;
    font-size: 12px;
    line-height: 16px;
    height: calc((100vw * 22 - 5800px) / 260);
    padding-top: calc((100vw * 22 - 5800px) / 520 - 21px);
    display: block;
  }
  .hide-navbar-bg{
    height: calc((100vw * 22 - 5800px) / 260);
  }
  .s-navbar {
    display: none;
  }
  .mySidebar {
    display: none;
  }
  .navbar-inside{
    display:flex;
    justify-content: space-around;
  }
  /* Altura con variación lineal en función del ancho de la pantalla.
   Para VW = 1000px, h = 40px
   Para VW = 800px, h = 32px
   m = (y2 - y1) / (x2 - x1) = (32 - 40) / (800 - 1000) = 0.04
    b = y1 - m * x1 = 40 - 0.04 * 1000 = 40 - 40 = 0
   h = VW * m + b
  */
  .sz-logo {
    height: calc(0.04 * 100vw);
    margin-left: 60px;
    margin-right: 20px;
    vertical-align: middle;
    display: flex;
  }
  .contactbutton {
    background-color: white;
    color: black;
    text-decoration: none;
    margin: 5px;
    margin-right: 60px;
    /* text-transform: uppercase; */
  }

}

@media screen and (min-width: 1000px) {
  video.mySlides {
    width: 100%;
    height: 384px;
    object-fit: cover; /* Ajuste del contenido del video */
  }
  
  img.mySlides {
    position: relative; /* Asegura que el pseudo-elemento se posicione con respecto a la imagen */
    /* display:none; */
    display: inline-block;
    background-size: cover;
    background-position: center;
    object-fit: cover; /* Ajuste del contenido del video */
    width: 100%;
    height: 384px;
  }
  .imagen-fija {
    position: fixed;
    margin-top: 9px;
    top: 0; /* Alinea la imagen en la parte superior */
    left: 0; /* Alinea la imagen en la parte izquierda */
    /*width: 20%; /* Ajusta el ancho de la imagen según tus preferencias */
    z-index: 9999; /* Asegura que la imagen esté por encima de otros elementos */
    height: 90px;
    /* padding-top: calc((100vw * 22 - 5800px) / 520 - 21px); */
  }
  .imagen-fija-center {
    position: fixed;
    margin-top: 9px;
    top: 0; /* Alinea la imagen en la parte superior */
    left: 90px; /* Alinea la imagen en la parte izquierda */
    /*width: 20%; /* Ajusta el ancho de la imagen según tus preferencias */
    z-index: 9999; /* Asegura que la imagen esté por encima de otros elementos */
    height: 90px;
    width: calc(100vw - 180px);
    /* padding-top: calc((100vw * 22 - 5800px) / 520 - 21px); */
  }
  .imagen-fija-right {
    position: fixed;
    margin-top: 9px;
    top: 0; /* Alinea la imagen en la parte superior */
    right: 0; /* Alinea la imagen en la parte izquierda */
    /*width: 20%; /* Ajusta el ancho de la imagen según tus preferencias */
    z-index: 9999; /* Asegura que la imagen esté por encima de otros elementos */
    height: 90px;
    display: flex;
    /* padding-top: calc((100vw * 22 - 5800px) / 520 - 21px); */
  }
  .grid-container {
    display: grid;
      grid-template-columns: repeat(8, 90px);
      grid-template-rows: repeat(4, 90px);
      gap: 10px; /* Espacio entre las celdas */
      justify-content: center; /* Centra horizontalmente el grid */
  }
  .grid-container-providers {
    display: grid;
      grid-template-columns: repeat(8, 90px);
      grid-template-rows: repeat(1, 90px);
      gap: 10px; /* Espacio entre las celdas */
      justify-content: center; /* Centra horizontalmente el grid */
  }
  .l-navbar{
    display: table-cell;
    vertical-align:middle;
    background-color: #070927;
    font-family: 'Montserrat',Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 14px;
    /* text-transform: uppercase; */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 18px;
    height: 64px;
    width: 100vw;
  }
  .hide-navbar-bg{
    height: 64px;
  }
  /* Altura con variación lineal en función del ancho de la pantalla.
   Para VW = 1100px, h = 44px
   Para VW = 1000px, h = 40px
   m = (44 - 40) / (1100 - 1000) = 0.04
   b = 40 - m * 1000 = 0
   h = VW * m + b = VW * 0.04
  */
  .z-logo {
    height: calc(0.04 * 100vw);
    margin-left: 70px;
    margin-right: 20px;
    vertical-align: bottom;
    display: flex;
  }
  .contactbutton {
    background-color: white;
    color: black;
    text-decoration: none;
    margin: 5px;
    margin-right: 70px;
    /* text-transform: uppercase; */
  }

  .m-navbar {
    display: none;
  }
  .navbar-inside{
    display:flex; 
    justify-content: space-around;
    max-width: 1280px; 
    margin: auto; 
    padding-top:10px; 
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1100px) {
  video.mySlides {
    width: 100%;
    height: 454px;
    object-fit: cover; /* Ajuste del contenido del video */
  }
  
  img.mySlides {
    position: relative; /* Asegura que el pseudo-elemento se posicione con respecto a la imagen */
    /* display:none; */
    display: inline-block;
    background-size: cover;
    background-position: center;
    object-fit: cover; /* Ajuste del contenido del video */
    width: 100%;
    height: 454px;
  }
  .contactbutton {
    background-color: white;
    color: black;
    text-decoration: none;
    margin: 5px;
    margin-right: 70px;
    /* text-transform: uppercase; */
  }
  .imagen-fija {
    position: fixed;
    margin-top: 9px;
    top: 0; /* Alinea la imagen en la parte superior */
    left: 0; /* Alinea la imagen en la parte izquierda */
    /*width: 20%; /* Ajusta el ancho de la imagen según tus preferencias */
    z-index: 9999; /* Asegura que la imagen esté por encima de otros elementos */
    height: 90px;
    /* padding-top: calc((100vw * 22 - 5800px) / 520 - 21px); */
  }
  .imagen-fija-center {
    position: fixed;
    margin-top: 9px;
    top: 0; /* Alinea la imagen en la parte superior */
    left: 90px; /* Alinea la imagen en la parte izquierda */
    /*width: 20%; /* Ajusta el ancho de la imagen según tus preferencias */
    z-index: 9999; /* Asegura que la imagen esté por encima de otros elementos */
    height: 90px;
    width: calc(100vw - 180px);
    /* padding-top: calc((100vw * 22 - 5800px) / 520 - 21px); */
  }
  .imagen-fija-right {
    position: fixed;
    margin-top: 9px;
    top: 0; /* Alinea la imagen en la parte superior */
    right: 0; /* Alinea la imagen en la parte izquierda */
    /*width: 20%; /* Ajusta el ancho de la imagen según tus preferencias */
    z-index: 9999; /* Asegura que la imagen esté por encima de otros elementos */
    height: 90px;
    /* padding-top: calc((100vw * 22 - 5800px) / 520 - 21px); */
  }
  .z-logo {
    /* logo_512w 1 */
    height: 44px;
    margin-left: 70px;
    margin-right: 20px;
    vertical-align: bottom;
    display: flex;
  }
}

.grid-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  background-color: white;
}

.grid-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
}

.grid-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit:scale-down;
}

.centeblack-image {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.contactbutton:hover {
  background-color: white;
  color: black;
  text-decoration: none;
  /* text-transform: uppercase; */
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.darktxt {
  background-color: transparent;
  color: black;
}

.tittle-bar{
  background-color: #070927;
}

.l-navbar a:hover {
  background-color: #070927;
  color: white;
}

.mynavbar-link  {
  /* ACERCA DE NOSOTROS */
  font-family: 'Montserrat',Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  letter-spacing: -0.010em;
  margin-top: 5px;
  color: white;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* text-transform: uppercase; */
}

.mynavbar-link:hover  {
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

/* Estilo para el pseudo-elemento ::after */
.heero-overlay {
  content: ""; /* Necesario para que el pseudo-elemento sea visible */
  position: absolute; /* Posiciona el pseudo-elemento de forma absoluta con respecto a la imagen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c7e3fd; /* Color a superponer (azul oscuro) */
  opacity: 0.15; /* Ajusta la opacidad según tus preferencias */
}

video {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 64px);
  object-fit:fill;
}

.video-cover {
  width: 100%;  
  height: 100%;
  margin: 0rem;
  vertical-align: middle;
  /* margin-top: -8rem; */
  background: #2c3e50;
}

.heero {
  position: relative;
  width: 100%;
  max-height: calc(100vh - 64px); /* Ajusta la altura según tus necesidades */
  overflow: hidden;
  background-color: white;
}

#slides {
  width: 100%;
  white-space: nowrap;
  font-size: 0;
  transform: translateX(0);
}

.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.w3-display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.mySlideTitles {
  
  color: white;
  font-family: "Segoe UI",Arial,sans-serif;
  font-style:normal;
  font-weight: bolder;
  font-size: 44px;
  letter-spacing: .08em;
  line-height: 50px;
  margin-bottom: 5px;
  margin-top: 40px;
  max-height: 100px;
  overflow: hidden;
  /* text-transform: uppercase; */
  width: 100%;
  overflow-wrap: break-word;
}

.mySlideTags {
  
  color: #d3d3d3;
  font-family: 'Montserrat',Verdana, Geneva, Tahoma, sans-serif;
  font-style:normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.015em;
  overflow-wrap: break-word;

}

.m-mySlideTitles {
  
  color: white;
  font-family: "Segoe UI",Arial,sans-serif;
  font-style:normal;
  font-weight: bolder;
  font-size: 34px;
  line-height: 38px;
  letter-spacing: .06em;
  margin-bottom: 5px;
  margin-top: 10px;
  max-height: 100px;
  overflow: hidden;
  /* text-transform: uppercase; */
  width: 100%;
  overflow-wrap: break-word;
}

.m-mySlideTags {
  
  color: #d3d3d3;
  font-family: 'Montserrat',Verdana, Geneva, Tahoma, sans-serif;
  font-style:normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.0075em;
  overflow-wrap: break-word;

}

.s-mySlideTitles {
  
  color: white;
  font-family: "Segoe UI",Arial,sans-serif;
  font-style:normal;
  font-weight: bolder;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: .06em;
  margin-bottom: 5px;
  margin-top: 20px;
  max-height: 100px;
  overflow: hidden;
  /* text-transform: uppercase; */
  width: 100%;
  overflow-wrap: break-word;
}

.s-mySlideTags {
  
  color: #11256f;
  font-family: 'Montserrat',Verdana, Geneva, Tahoma, sans-serif;
  font-style:normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.0075em;
  overflow-wrap: break-word;
}

.tag-title {
  font-weight:900;
  color: black;
  line-height:normal;
}

.card-img-tittle-txt{
  height: 500px;
}

.card-tittle-txt{
  height: 180px;
  background-color:transparent;
}

.card-img-tittle-txt2{
  /* height: 450px; */
  background-color:transparent;
}

.card-tittle-txt2{
  /* height: 180px; */
  background-color:transparent;
}

/* Establece la duración y el efecto de entrada y salida */
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* Aplica la animación de transición a las imágenes con la clase slide-transition */
.slide-transition {
  animation-duration: 1s;
  animation-timing-function: ease;
}

/* Agrega las animaciones de entrada y salida a las imágenes */
.slide-enter {
  animation-name: slideIn;
}

.slide-exit {
  animation-name: slideOut;
}

.animate {
  transition: all .5s ease-out;
}

.footer {
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gray-mesh-bg {
  background-image: url(files/gray-mesh.png);
  background-position-x: right;
  background-repeat: no-repeat;
  background-color: white;
}

.img-sh2-left{
  max-width: 100%; max-height: 360px; display:block; margin-left: 16px; float:left!important;
}

.img-sh2-right{
  max-width: 100%; max-height: 360px; display:block; margin-right: 16px; float:right!important;
}

.icon-list {
  list-style: none;
  padding: 0;
}

.icon-item {
  display: flex;
  align-items: flex-start; /* Alinea el contenido hacia arriba */
  margin-bottom: 10px;
}

.location-icon,
.mail-icon,
.phone-icon,
.whatsapp-icon {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.location-icon {
  background-image: url("files/icons/location.png");
}

.mail-icon {
  background-image: url("files/icons/mail.png");
}

.phone-icon {
  background-image: url("files/icons/phone.png");
}

.whatsapp-icon {
  background-image: url("files/icons/whatsapp.png");
}

.icon-text {
  flex: 1; /* Ocupa todo el espacio disponible */
}

.navbar-buttons-div{
  margin: 0; 
}

/* Estilos para la galería de descargas */
.downloads-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: white;
  max-width: 1280;
  margin: auto;
}

.file-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilos para el icono PDF */
.pdf-icon {
  background-image: url("files/icons/pdf.png"); /* Cambia esta ruta si es necesario */
  /* Ajusta el tamaño y otras propiedades según sea necesario */
  width: 32px;
  height: 32px;
  background-size: cover; /* Asegura que el icono se ajuste al tamaño del contenedor */
}

.pdf-icon::before {
  content: "pdf";
  color: transparent;
}

.file-name {
  font-size: 16px;
}

/* Estilos para el visor de archivos */
.viewer-section {
  padding: 20px;
  background-color: white;
  max-width: 1280;
  margin: auto;
}

.viewer-content {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.image-viewer {
  max-width: 100%;
  height: auto;
  display: block;
}

.download-indicator {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6px 12px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.viewer-content:hover .download-indicator {
  display: block;
}

.pdf-viewer {
  width: 100%;
  height: 600px;
  display: none;
}

.image-icon {
  background-image: url("files/icons/img.png"); /* Cambia esta ruta si es necesario */
  /* Ajusta el tamaño y otras propiedades según sea necesario */
  width: 32px;
  height: 32px;
  background-size: cover; /* Asegura que el icono se ajuste al tamaño del contenedor */
}

.image-icon::before {
  content: "img";
  color: transparent;
}

.container-maxwidth{
  max-width: 1280px;
  margin: auto;
}

/* Agrega estilos para otros tipos de archivos si es necesario */

